body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

#container {
    display: flex;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
   box-shadow: 1px 1px 5px 1px black;    
    gap: 10px;
    font-size: 40px;
    border-radius: 6px;
    padding: 10px;
}
#container div{
    background-color: rgba(0, 0, 0, 0.834);
    padding: 10px;
    padding: 20px 25px;
    color: white;
    margin-left: 15px;
    
}
.btn-div{
    margin-top: 20px;
}
.btn{
 background-color: rgb(196, 34, 211);
 border: none;
 padding: 5px 20px;
 box-shadow: 1px 1px 4px 2px black;
 margin: 3px 12px;
 border-radius: 5px;
}